input{
    width: 150px;
    height: 100px;
    background-color: coral;
    border-radius: 10px;
    color:floralwhite;
    font-size: 60px;
    margin: 5px;
}
form{
    width: 700px; 
    height: 700px;
    margin: auto;
}
h1{
    text-align: center;
    font-size: 40px;
    color: brown;
}